/output/*
/output_labels/*
/sequential_image_pair/*
/util_files/*
/video_obb_data/*
yolov11_testing/6f799fd4-frame_18.png
best.pt
yolov11_testing/calibration_image_sample_data_20x128x128x3_float32.npy
frame18cal.png
inference.py
real_calibration.png
sfm_test.py
sift_match_1.png
split_mp4.py
tempCodeRunnerFile.py
tmpt2i13uru.PNG
training_script.sh
yolo11n-obb.pt
yolov8n.pt
